---
permalink: /rss.xml
layout: false
eleventyExcludeFromCollections: ["posts"]
eleventyImport:
  collections: ["posts"]
feed:
  title: "A.N.T.S. Blog"
  subtitle: "Things that have captivated me at various points"
limit: 10
---
{%- set metadataBase = metadata.url + "/" -%}
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="rss/pretty-atom-feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
	<title>{{ feed.title }}</title>
	<subtitle>{{ feed.subtitle }}</subtitle>
	<link href="{{ permalink | htmlBaseUrl(metadataBase) }}" rel="self" type="application/atom+xml" />
	<link href="{{ metadataBase | addPathPrefixToFullUrl }}" rel="alternate" type="text/html" />
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadataBase | addPathPrefixToFullUrl }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
	</author>
	{%- for post in collections.posts | reverse | head(limit) %}
	{%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadataBase) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}" rel="alternate" type="text/html" />
		<published>{{ post.date | dateToRfc3339 }}</published>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		{%- for tag in post.data.tags | filterTagList %}
		<category term="{{ tag }}" />
		{%- endfor %}
		<summary type="html">{{ post.data.description }}{% if post.data.recommendNoRSS %}&lt;br /&gt;This post contains complex layouts and is best &lt;a href=&quot;{{ absolutePostUrl }}&quot;&gt;viewed in browser&lt;/a&gt;.{% endif %}</summary>
	</entry>
	{%- endfor %}
</feed>
