---js
const eleventyNavigation = {
	key: "Blog",
	order: 2
};
---
<h1>Blog</h1>
<p>Things that have captivated me at various points</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
