---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
};

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		// If DuplicatePermalinkOutputError occurs, check that no tag occurs
		// with differing case, e.g. "RSS" and "rss".
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
<h1 class="mb-3">Tagged {% set noLink = true %}{% include "tag.njk" %}</h1>

<div class="mb-3">
	{% set postslist = collections[ tag ] | reverse %}
	{% include "postslist.njk" %}
</div>

<p>See <a href="tags.njk">all tags</a>.</p>
