<h1>Tags</h1>

<ul>
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	{% set color = tagStyles[tag] or tagStyles.default %}
	<li><a href="{{ tagUrl }}" class="badge text-bg-{{ color }} text-decoration-none text-capitalize fst-italic">{{ tag }}</a></li>
{% endfor %}
</ul>
