{%- set authorData = authors[author] %}
{%- if authorData %}
<div class="d-flex align-items-center gap-2 mb-2">
    <span class="text-body-secondary mt-1">{{ authorData.name }}</span>
    {%- if authorData.avatar %}
    <img src="{{ authorData.avatar }}" alt="" width="32" height="32" class="rounded-circle" eleventy:ignore>
    {%- endif %}
</div>
{%- endif %}