<div class="row row-cols-1 row-cols-xl-2 g-3">
	{%- for post in postslist | reverse %}
		<div class="col">
			<div class="card h-100">
				<div class="row g-0 h-100">
					<div class="col">
						<div class="card-header">
							<a href="{{ post.url }}">
								<h4 class="card-title mb-0" data-ha-exclude>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h4>
							</a>
						</div>
						<div class="card-body">
							{% if post.data.description %}<p class="card-text text-muted">{{ post.data.description }}</p>{% endif %}
							{%- set author = post.data.author %}
							{% include "author.njk" %}
							<p class="card-text text-body-secondary small d-flex justify-content-between">
								{%- set date = post.date %}
								{%- set updatedDate = post.data.updatedDate %}
								{% include "post-date.njk" %}
							</p>
						</div>
					</div>
					<div class="col-5 col-lg-3">
						<a href="{{ post.url }}">
							<img src="{{ post.page.url }}{{ post.data.heroImg }}" class="img-fluid rounded-end h-100 object-fit-cover" alt="...">
						</a>
					</div>
				</div>
			</div>
		</div>
	{%- endfor %}
</div>
