{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
{%- set color = tagStyles[tag] or tagStyles.default %}
<a href="{{ tagUrl }}" class="badge text-muted bg-{{ color }}-subtle border border-{{ color }} text-decoration-none text-capitalize fst-italic">{{ tag }}</a>
