{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
{%- set color = tagStyles[tag] or tagStyles.default %}
{%- set tagClass = "badge text-muted bg-" + color + "-subtle border border-" + color + " text-capitalize fst-italic" %}
{%- if noLink %}
<span class="{{ tagClass }}">{{ tag }}</span>
{%- else %}
<a href="{{ tagUrl }}" class="{{ tagClass }} text-decoration-none">{{ tag }}</a>
{%- endif %}
