---
layout: layouts/base.njk
---
<style>{% include "src/assets/scss/post.css" %}</style>
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "src/assets/scss/prism-diff.css" %}</style>
<style>{% include "src/assets/scss/prism-typst.css" %}</style>
<link rel="stylesheet" href="/css/katex.min.css">

<h1>{{ title }}</h1>

{%- set postTags = tags | filterTagList %}
<ul class="list-inline text-body-secondary mb-0">
	{%- for tag in postTags %}
		<li class="list-inline-item">{% include "partials/tag.njk" %}</li>
	{%- endfor %}
</ul>

<div class="row mb-1">
	<div class="col d-flex align-items-center">
		<span class="text-body-secondary my-1">
			{%- set date = page.date %}
			{% include "partials/post-date.njk" %}
		</span>
	</div>
	<div class="col-auto d-flex">
		{% include "partials/author.njk" %}
	</div>
</div>

<hr class="mt-2">

<div class="post-content">
	{{ content | safe }}
</div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<nav class="d-flex justify-content-between gap-3 border-top mt-4 pt-3">
	<div>
		{%- if previousPost %}← Previous<br><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
	</div>
	<div class="text-end">
		{%- if nextPost %}Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
	</div>
</nav>
{%- endif %}
{%- endif %}
