---
layout: layouts/base.njk
---
<style>{% include "src/assets/scss/post.css" %}</style>
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "src/assets/scss/prism-diff.css" %}</style>
<style>{% include "src/assets/scss/prism-typst.css" %}</style>
<link rel="stylesheet" href="/css/katex.min.css">

{% include "partials/deferred_images.njk" %}

<h1>{{ title }}</h1>

{%- set date = page.date %}
{% include "partials/post-date.njk" %}

<div class="g-0 mb-3 pb-3 border-bottom">
	{%- set postTags = tags | filterTagList %}
	{% include "partials/tags-and-author.njk" %}
</div>

<div class="post-content">
	{{ content | safe }}
</div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<nav class="d-flex justify-content-between gap-3 border-top mt-4 pt-3">
	<div>
		{%- if previousPost %}← Previous<br><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
	</div>
	<div class="text-end">
		{%- if nextPost %}Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
	</div>
</nav>
{%- endif %}
{%- endif %}
