---js
const eleventyNavigation = {
	key: "Links",
	order: 3
};
---

<h1>Links</h1>
<p class="text-muted">Other things of mine on the web</p>

{% include "partials/deferred_images.njk" %}
<div class="row row-cols-1 row-cols-xl-2 g-3 deferred-img-batch">
	{%- for link in projectLinks %}
		<div class="col">
			<div class="card h-100">
				<div class="row">
					<div class="col d-flex flex-column justify-content-center text-end">
						<a href="{{ link.url }}" target="_blank" rel="noopener">
							<h4 class="card-title mb-0" data-ha-exclude>{{ link.name }}</h4>
						</a>
						<p class="card-text text-muted mb-0 ps-2">{{ link.blurbText }}</p>
						{% if link.broken %}
							<p>
								<span class="badge text-muted bg-danger-subtle border border-danger text-capitalize fst-italic">Broken</span>
							</p>
						{% endif %}
					</div>
					<div class="col-6 position-relative placeholder-glow">
						<span class="placeholder position-absolute top-0 start-0 w-100 h-100 rounded-end deferred-img-placeholder" style="visibility: hidden" aria-hidden="true"></span>
						<a href="{{ link.url }}" target="_blank" rel="noopener" class="d-block position-relative">
							<img src="{{ link.thumbnailImg }}" class="img-fluid rounded-end deferred-img" alt="" eleventy:ignore>
						</a>
					</div>
				</div>
			</div>
		</div>
	{%- endfor %}
</div>
