---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
{%- for post in collections.posts %}
{%- if post.data.shortUrl and shortUrlDomain %}
{{ shortUrlDomain }}/{{ post.data.shortUrl }} {{ metadata.url }}{{ post.url }} 301
{%- endif %}
{%- endfor %}
