---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
{%- for post in collections.posts %}
{%- if post.data.shortUrl %}
/{{ post.data.shortUrl }} {{ post.url }} 301
{%- endif %}
{%- endfor %}
