---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all", "posts"],
};

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		// Post tags must be defined in _data/tagStyles.js (see
		// _data/eleventyDataSchema.js), whose keys are lowercased, so two tags
		// differing only in case can't collide on this permalink.
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
<h1 class="mb-3">Tagged {% set noLink = true %}{% include "partials/tag.njk" %}</h1>

<div class="mb-3">
	{% set postslist = collections[ tag ] | reverse %}
	{% include "partials/postslist.njk" %}
</div>

<p>See <a href="tags.njk">all tags</a>.</p>
