<h1>Tags</h1>

<p class="text-muted">My tags are intended as rough steers of what type of interests might help you enjoy a post more.</p>

<ul>
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	<li>{% include "partials/tag.njk" %}</li>
{% endfor %}
</ul>
