<h1>Tags</h1>

<p class="text-muted">My tags are intended as rough steers of what type of interests might help you enjoy a post more.</p>

<ul>
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{%- set postCount = collections[tag] | length %}
	{#- Skip empty tags: `draft` always has a collection, but it's empty in
	    production builds, where drafts are dropped in a preprocessor. -#}
	{%- if postCount %}
	<li>{% include "partials/tag.njk" %}</li>
	{%- endif %}
{% endfor %}
</ul>
