<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-outline-primary mb-3 w-100 w-md-auto" href="{{ url }}" target="_blank"><i class="bi bi-{{ icon }}"></i> {{ text }}</a>
    </div>
</div>