<necklace-simulator></necklace-simulator>
<script src="/js/necklace-simulator.js" defer></script>
<noscript>
	<p class="text-danger fst-italic">You have JavaScript disabled so the simulator cannot be rendered.</p>
</noscript>
