{% include "partials/deferred_images.njk" %}
<div class="row row-cols-1 row-cols-xl-2 g-3 deferred-img-batch">
	{%- for post in postslist %}
		<div class="col">
			<div class="card h-100">
				<div class="row g-0 h-100">
					<div class="col d-flex flex-column">
						<div class="card-header">
							<a href="{{ post.url }}">
								<h4 class="card-title mb-0" data-ha-exclude>{{ post.data.title }}</h4>
							</a>
						</div>
						<div class="card-body d-flex flex-column justify-content-between">
							<div>
								<p class="card-text text-muted mb-2">{{ post.data.description }}</p>
								{%- set postTags = post.data.tags | filterTagList %}
								<p class="mb-2">
									{%- for tag in postTags %}{% include "partials/tag.njk" %}{% endfor %}
								</p>
							</div>
							<div>
								{%- set author = post.data.author %}
								{% include "partials/author.njk" %}
								<p class="card-text text-body-tertiary small d-flex justify-content-between">
									{%- set date = post.date %}
									{%- set updatedDate = post.data.updatedDate %}
									{% include "partials/post-date.njk" %}
								</p>
							</div>
						</div>
					</div>
					<div class="col-5 col-lg-3 position-relative placeholder-glow">
						<span class="placeholder position-absolute top-0 start-0 w-100 h-100 rounded-end deferred-img-placeholder" style="visibility: hidden" aria-hidden="true"></span>
						<a href="{{ post.url }}" class="d-block h-100 position-relative">
							<img src="{{ post.page.url }}{{ post.data.heroImg }}" class="img-fluid rounded-end h-100 object-fit-cover deferred-img" alt="...">
						</a>
					</div>
				</div>
			</div>
		</div>
	{%- endfor %}
</div>
