{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
{%- set style = tagStyles[tag] %}
{%- set tagClass = "badge text-muted bg-" + style.color + "-subtle border border-" + style.color + " fst-italic" %}
{%- set tagBody %}<i class="bi bi-{{ style.icon }}"></i> {{ style.label }}{% endset %}
{%- if noLink %}
<span class="{{ tagClass }}">{{ tagBody | safe }}</span>
{%- else %}
<a href="{{ tagUrl }}" class="{{ tagClass }} text-decoration-none">{{ tagBody | safe }}</a>
{%- endif %}
