{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
{%- set color = tagStyles[tag] or tagStyles.default %}
{%- set tagClass = "badge text-muted bg-" + color + "-subtle border border-" + color + " text-capitalize fst-italic" %}
{%- set tagStyle = "font-family: var(--bs-font-sans-serif);" %}
{%- if noLink %}
<span class="{{ tagClass }}" style="{{ tagStyle }}">{{ tag }}</span>
{%- else %}
<a href="{{ tagUrl }}" class="{{ tagClass }} text-decoration-none" style="{{ tagStyle }}">{{ tag }}</a>
{%- endif %}
